@use '../../styles/variables' as *;

.backform_image {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 45rem;
  position: relative;
  overflow: hidden;
  background-image: url('/images/BlockContactForm/backform.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  scroll-margin-top: 6.5rem;
}
.form_container {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  width: 40rem;
  height: 35rem;
  gap: 20px;
  padding: 2%;
  margin-top: 5%;
  border-radius: 5%;
}
.input {
  @include p1;
  width: 95%;
  height: 90px;
  padding: 10px;
  border-radius: 20px;
  border: 4px solid $olive;
  cursor: pointer;
  padding: 2%;
}

.input:focus {
  border-color: $burgundy;
  outline: none;
}

.input::placeholder {
  @include p1;
}

.contact_label {
  @include heading2;
  color: $light-black;
}

.error {
  border-color: red;
}

.error_message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

@media screen and (min-width: 1401px) {
  .backform_image {
    max-width: 100%;
    min-height: 70rem;
  }
  .form_container {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
  }
  .form {
    width: 51rem;
    height: 58rem;
    margin-top: 5%;
  }
  .input {
    width: 95%;
    height: 123px;
    font-size: 38px;
  }

  .input::placeholder {
    @include p1-lg;
  }
  .contact_label {
    @include heading1-lg;
  }
}

@media screen and (min-width: 359px) and (max-width: 768px) {
  .backform_image {
    background-image: url('/images/BlockContactForm/backform_mob.png');
    min-height: auto;
    padding: 20px 0;
    scroll-margin-top: 10rem;
  }

  .contact_label {
    @include heading3-mob;
    color: $light-black;
  }

  .form_container {
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
  }
  .form {
    width: 80%;
    height: auto;
    margin-top: 5%;
    padding: 15px;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    border-radius: 7px;
  }

  .input {
    width: 90%;
    height: 60px;
    @include p3-mob;
  }

  .input::placeholder {
    @include p3-mob;
  }
}
